.font-meow {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-zain-extrabold {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.font-tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-vibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
